@media screen and (min-width: 480px) {
  /* .container {
    max-width: 448px;
  }

  .hero-container {
    max-width: 100%;
  }

  .hero-wrap {
    background-image: var(--bg-gra), url(../img/hero-bg-tab.jpeg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--bg-gra), url(../img/hero-bg-tab-2x.jpeg);
    }
  }

  .hero-title {
    font-size: 48px; 
  } */
  /*    !UTILS */
  .container {
    max-width: 767px;
    /* margin-right: auto; */
    /* margin-left: auto; */
    padding-right: 16px;
    padding-left: 16px;
    /* text-align: center; */
  }

  /*    !HEADER    */

  /*    !HERO    */

  /* .hero .section {
    padding-top: 0;
    padding-bottom: 0;
  } */
  .hero {
    /* margin: 0; */
    /* width: 100%; */

    /* padding-right: 54px; */
    /* padding-left: 54px; */

    /* margin: 0 auto; */
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/index_page/hero-img.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--prime-text);
    text-align: center;
  }
  .hero-title {
    max-width: 320px;
    /* margin-right: 0; */
    /* margin-left: 0; */
    margin-bottom: 72px;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-transform: capitalize;
  }
  /*    !FEATURE */

  /*    !WHAT WE DO    */

  /*     !OUR TEAM */

  .team-section-list .item {
    /* margin-bottom: 72px; */
  }
  .team.section {
    padding-bottom: 128px;
  }

  /*    !CUSTOMERS */

  .customers.section {
    padding-top: 96px;
    /* padding-bottom: 96px; */
  }

  /*  !FOOTER */
}
