:root {
  --accent: rgba(77, 90, 229, 1); /* IRIS: accent logo, bg-prime button */
  --prime-text: rgba(46, 47, 66, 1); /* NAVY_BLUE: main text, bg-hero */
  --secondary-text: rgba(67, 68, 85, 1); /* SLATE: adress, section text */
  --background-prime: rgba(255, 255, 255, 1); /* WHITE: bg, hero h1, button */
  --background-sec: rgba(244, 244, 253, 1); /* CLOUD: section backgraund*/
  --footer-text: rgba(231, 233, 252, 1); /* CORNFLOWER: footeer text */
  --hover-link: rgba(64, 75, 191, 1); /* OCEAN: navigation, contacts */
  --light-slate: rgba(142, 143, 153, 1);
  --cubic-bazier: cubic-bezier(0.4, 0, 0.2, 1);
}

/*   !UTILS   */

body {
  font-family: "Roboto", sans-serif;
  color: var(--prime-text);
  letter-spacing: 0.02em;
  line-height: calc(24 / 16);
}
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.text {
  color: var(--secondary-text);
}

.link {
  display: inline-block;

  text-decoration: inherit;
  color: inherit;
  font-weight: 500;
}

.logo-accent {
  color: var(--accent);
}

.current {
  color: var(--hover-link);
  position: relative;
  height: 100%;
}
.image {
  display: block;
}
/*!  LOGO */

.logo {
  color: var(--prime-text);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

/*   !HEADER   */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: inherit;
  gap: 76px;
}

.nav .list,
.contacts .list {
  display: flex;
  gap: 40px;
}
.nav .item {
  display: block;
}
.contacts .link {
  color: var(--secondary-text);
  font-weight: 400;
}
.current::after {
  content: "";
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -25px;
  left: 0;

  color: red;
  background-color: #404bbf;
}
.nav .link:hover,
.nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  /* color: var(--hover-link); */

  animation: links-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/*   !HERO   */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/index_page/hero-img.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--prime-text);
  text-align: center;
}

.hero-title {
  max-width: 494px;
  margin-bottom: 48px;
  display: inline-block;

  color: var(--background-prime);
  font-size: 56px;
  line-height: calc(60 / 56);
}

.button {
  font-family: inherit;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  letter-spacing: 0.04em; /* FIXME: 0.04em non fittable size in Style Guide with border-box */
  font-size: 16px;
  font-weight: 500;
  background: var(--background-sec);
  color: var(--accent);

  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 12px 24px;

  cursor: pointer;
}

.button.primery {
  min-width: 169px;
  height: 56px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  border: 1px solid transparent;
  background-color: var(--accent);
  color: var(--background-prime);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  color: var(--background-prime);
  border-color: transparent;
  animation: buttons-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.button.primery:hover,
.button.primery:focus {
  animation: buttons-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  cursor: pointer;
}

/*   !FEATURE   */
.feature-thumb {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  /* padding: 24px 100px; */

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  background-color: var(--background-sec);
  text-align: center;
}
.feature-icon {
  width: 64px;
  height: 64px;
}
.section-list {
  display: flex;
  gap: 24px;
}

.list-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  color: var(--prime-text);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*   !WHAT WE DO   */
.whatwedo.section {
  padding-top: 0;
}
.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--prime-text);
  text-align: center;
}

/*   !OUR TEAM   */
.team.section {
  background-color: var(--background-sec);
}
.team .image {
  display: block;
}

.team .item {
  background-color: var(--background-prime);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team .text {
  text-align: center;
  line-height: 1.2;
  margin-bottom: 8px;
}

.social-list {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.social-icon {
  width: 16px;
  height: 16px;
  display: block;
}
.social-link {
  background-color: var(--accent);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--background-sec);
}

.social-link:hover,
.social-link:focus {
  animation: team-social-icons-hover 250ms forwards;
  animation-timing-function: var(--cubic-bazier);
}

/*   !CUSTOMERS */
.customers.section {
  padding-top: 130px;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-link {
  display: block;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 88px;
}
.customers-icon {
  width: 104px;
  height: 56px;
  fill: var(--light-slate);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--hover-link);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  animation: customers-icons-hover 250ms forwards;
  animation-timing-function: var(--cubic-bazier);
}
/*   !PORTFOLIO */

.portfolio.section {
  padding-top: 96px;
}
.filter {
  text-align: center;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.item-content {
  padding: 32px 16px;
}

.portfolio .item-content {
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden; */
  /* position: relative; */
}

.portfolio-cards .card {
  margin-bottom: 48px;
  margin-right: 24px;
  width: 360px;
}

.portfolio-cards .card:hover,
.portfolio-cards .card:focus {
  animation: cards-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.portfolio-cards .card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-cards .card:nth-child(3n) {
  margin-right: 0;
}

.portfolio .card:nth-child(2) .portfolio-image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio .card:nth-child(2) .overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* bottom: 0; */
  background-color: var(--accent);
  /* opacity: 0.5; */
  background: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  padding: 40px 32px;
  color: var(--background-sec);
  /* z-index: 0; */
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.portfolio .card:nth-child(2):hover .overlay,
.portfolio .card:nth-child(2):hover .overlay {
  transform: translateX(0);
}

/*   !FOOTER   */

.footer .container {
  display: flex;
  /* gap: 120px; */
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--prime-text);
}

.footer .logo {
  margin: 0 0 16px 0;
  display: inline-block;

  color: var(--background-sec);
  line-height: calc(21 / 18);
}

.footer .text {
  line-height: 1.5;
  width: 264px;
  color: var(--footer-text);
}

.footer-social {
  width: 208px;
  margin-left: 120px;
}
.footer-social .text {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.footer-social .social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  fill: #f4f4fd;
}
.footer-social .social-link:hover,
.footer-social .social-link:focus {
  animation: footer-social-icons-hover 250ms forwards;
  animation-timing-function: var(--cubic-bazier);
}

.footer-social .social-list {
  gap: 16px;
}

.footer-social .social-icon {
  width: 24px;
  height: 24px;
}

@keyframes links-hover {
  0% {
    /* color: currentColor; */
  }
  100% {
    color: var(--accent);
  }
}

@keyframes cards-hover {
  0% {
  }
  100% {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@keyframes buttons-hover {
  0% {
  }
  100% {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--hover-link);
  }
}

@keyframes customers-icons-hover {
  0% {
  }
  100% {
    fill: var(--hover-link);
  }
}

@keyframes footer-social-icons-hover {
  0% {
  }
  100% {
    background-color: #31d0aa;
  }
}
@keyframes team-social-icons-hover {
  0% {
  }
  100% {
    background-color: var(--hover-link);
  }
}

/* !BACKDROP */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );

  padding-top: 88px;
  transition: opacity 250ms ease, visibility 250ms;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 408px;
  min-height: 576px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-prime);
  padding: 24px 24px;
  transition: transform 250ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.btn-close {
  display: flex;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border-style: none;
}
.backdrop-close-icon {
  width: 24px;
  height: 24px;
}
.backdrop-close-icon:hover {
  cursor: pointer;
}
