:root {
  --accent: rgba(77, 90, 229, 1); /* IRIS: accent logo, bg-prime button */
  --prime-text: rgba(46, 47, 66, 1); /* NAVY_BLUE: main text, bg-hero */
  --secondary-text: rgba(67, 68, 85, 1); /* SLATE: adress, section text */
  --background-prime: rgba(255, 255, 255, 1); /* WHITE: bg, hero h1, button */
  --background-sec: rgba(244, 244, 253, 1); /* CLOUD: section backgraund*/
  --footer-text: rgba(231, 233, 252, 1); /* CORNFLOWER: footeer text */
  --hover-link: rgba(64, 75, 191, 1); /* OCEAN: navigation, contacts */
}

/*   !UTILS   */

body {
  font-family: "Roboto", sans-serif;
  color: var(--prime-text);
  letter-spacing: 0.02em;
  line-height: calc(24 / 16);
}
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.text {
  color: var(--secondary-text);
}

.link {
  display: inline-block;

  text-decoration: inherit;
  color: inherit;
  font-weight: 500;
}

.logo-accent {
  color: var(--accent);
}

.current {
  color: var(--hover-link);
}
.image {
  display: block;
}
/*!  LOGO */

.logo {
  color: var(--prime-text);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

/*   !HEADER   */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: inherit;
  gap: 76px;
}

.nav .list,
.contacts .list {
  display: inline-flex;
  gap: 40px;
}

.contacts .link {
  color: var(--secondary-text);
  font-weight: 400;
}

.nav .link:hover,
.nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--hover-link);
}

/*   !HERO   */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;

  background-color: var(--prime-text);
  text-align: center;
}

.hero-title {
  max-width: 494px;
  margin-bottom: 48px;
  display: inline-block;

  color: var(--background-prime);
  font-size: 56px;
  line-height: calc(60 / 56);
}

.button {
  font-family: inherit;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  letter-spacing: 0.04em; /* FIXME: 0.04em non fittable size in Style Guide with border-box */
  font-size: 16px;
  font-weight: 500;
  background: var(--background-sec);
  color: var(--accent);

  margin-right: auto;
  margin-left: auto;
  display: flex;

  cursor: pointer;
}

.button.primery {
  min-width: 169px;
  height: 56px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  border: 1px solid transparent;
  background-color: var(--accent);
  color: var(--background-prime);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: var(--hover-link);
  color: var(--background-prime);
  border-color: transparent;
}

.button.primery:hover,
.button.primery:focus {
  background-color: var(--hover-link);
  cursor: pointer;
}

/*   !FEATURE   */

.hidden {
  display: none;
}

.column-flexlist {
  display: flex;
  gap: 24px;
}

.list-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  color: var(--prime-text);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*   !WHAT WE DO   */
.whatwedo.section {
  padding-top: 0;
}
.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--prime-text);
  text-align: center;
}

/*   !OUR TEAM   */
.team.section {
  background-color: var(--background-sec);
}
.team .image {
  display: block;
}

.team .item {
  background-color: var(--background-prime);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team .text {
  text-align: center;
  line-height: 1.2;
}

/*   !PORTFOLIO */
.portfolio.section {
  padding-top: 96px;
}
.filter {
  text-align: center;
}
.filter-list .button {
  padding: 12px 24px;
}
.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.item-content {
  padding: 32px 0;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-cards .card {
  margin-bottom: 48px;
  margin-right: 24px;
}
.portfolio-cards .card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-cards .card:nth-child(3n) {
  margin-right: 0;
}

/*   !FOOTER   */

.footer {
  background-color: var(--prime-text);
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo {
  margin: 0 0 16px 0;
  display: inline-block;

  color: var(--background-sec);
  line-height: calc(21 / 18);
}

.footer .text {
  line-height: 1.5;
  width: 264px;
  color: var(--footer-text);
}
